### Merge, Join and Concatenae in Pandas

In [3]:
import pandas as pd

data1 = {"Emp Id": ["E01","E02","E03","E04","E05","E06"],
         "Name": ["Ram", "Mallanath", "Raj", "King", "Eshpineol", "satish"],
         "Age": [20, 21, 30, 24, 25, 20]}

data2 = {"Emp Id": ["E01","E07","E03","E04","E08","E06"],
         "Salary": [24000, 43000, 50000, 34000, 40000, 30000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1)
print()
print(df2)

  Emp Id       Name  Age
0    E01        Ram   20
1    E02  Mallanath   21
2    E03        Raj   30
3    E04       King   24
4    E05  Eshpineol   25
5    E06     satish   20

  Emp Id  Salary
0    E01   24000
1    E07   43000
2    E03   50000
3    E04   34000
4    E08   40000
5    E06   30000

In [4]:
print(pd.merge(df1,df2, on="Emp Id"))

  Emp Id    Name  Age  Salary
0    E01     Ram   20   24000
1    E03     Raj   30   50000
2    E04    King   24   34000
3    E06  satish   20   30000

In [5]:
print(pd.merge(left = df1, right = df2, on="Emp Id", how = "left"))

  Emp Id       Name  Age   Salary
0    E01        Ram   20  24000.0
1    E02  Mallanath   21      NaN
2    E03        Raj   30  50000.0
3    E04       King   24  34000.0
4    E05  Eshpineol   25      NaN
5    E06     satish   20  30000.0

In [6]:
print(pd.merge(left = df1, right = df2, on="Emp Id", how = "right"))

  Emp Id    Name   Age  Salary
0    E01     Ram  20.0   24000
1    E07     NaN   NaN   43000
2    E03     Raj  30.0   50000
3    E04    King  24.0   34000
4    E08     NaN   NaN   40000
5    E06  satish  20.0   30000

In [7]:
import pandas as pd

data1 = {"Emp Id": ["E01","E02","E03","E04","E05","E06"],
         "Name": ["Ram", "Mallanath", "Raj", "King", "Eshpineol", "satish"],
         "Age": [20, 21, 30, 24, 25, 20]}

data2 = {"Emp Id": ["E07","E08","E09","E10","E11","E12"],
         "Name": ["sham", "ram", "Rajiv", "singh", "thakur", "santhosh"],
         "Age": [20, 21, 33, 24, 45, 20]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [8]:
print(pd.concat([df1,df2]))

  Emp Id       Name  Age
0    E01        Ram   20
1    E02  Mallanath   21
2    E03        Raj   30
3    E04       King   24
4    E05  Eshpineol   25
5    E06     satish   20
0    E07       sham   20
1    E08        ram   21
2    E09      Rajiv   33
3    E10      singh   24
4    E11     thakur   45
5    E12   santhosh   20